.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: var(--radius);
    font-size: 0.875rem;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.button:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px hsl(var(--ring)), 0 0 0 4px hsl(var(--background));
}

.button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Variants */
.default {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}

.default:hover {
    background-color: hsl(var(--primary) / 0.9);
}

.destructive {
    background-color: hsl(var(--destructive));
    color: hsl(var(--destructive-foreground));
}

.destructive:hover {
    background-color: hsl(var(--destructive) / 0.9);
}

.outline {
    border: 1px solid hsl(var(--input));
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

.outline:hover {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
}

.secondary {
    background-color: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));
}

.secondary:hover {
    background-color: hsl(var(--secondary) / 0.8);
}

.ghost:hover {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
}

.link {
    color: hsl(var(--primary));
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.link:hover {
    color: hsl(var(--primary) / 0.8);
}

/* Sizes */
.defaultSize {
    height: 2.5rem;
    /* h-10 */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sm {
    height: 2.25rem;
    /* h-9 */
    border-radius: calc(var(--radius) - 2px);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.lg {
    height: 2.75rem;
    /* h-11 */
    border-radius: var(--radius);
    padding-left: 2rem;
    padding-right: 2rem;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
}