.layout {
    display: flex;
    min-height: 100vh;
    background-color: hsl(var(--background));
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
}

.container {
    padding: 1.5rem;
    /* p-6 */
    flex: 1;
}