.root {
    position: relative;
    height: 0.5rem;
    /* h-2 */
    width: 100%;
    overflow: hidden;
    border-radius: 9999px;
    /* rounded-full */
    background-color: hsl(var(--secondary));
}

.indicator {
    height: 100%;
    width: 100%;
    flex: 1;
    background-color: hsl(var(--primary));
    transition: transform 0.3s ease;
}