.tableContainer {
    position: relative;
    width: 100%;
    overflow: auto;
}

.table {
    width: 100%;
    caption-side: bottom;
    font-size: 0.875rem;
    border-collapse: collapse;
}

.header {
    border-bottom: 1px solid hsl(var(--border));
}

.row {
    border-bottom: 1px solid hsl(var(--border));
    transition: background-color 0.2s;
}

.row:last-child {
    border-bottom: 0;
}

.row:hover {
    background-color: hsl(var(--muted) / 0.5);
}

.head {
    height: 2.5rem;
    /* h-10 */
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
    color: hsl(var(--muted-foreground));
}

.head:has([role=checkbox]) {
    padding-right: 0;
}

.cell {
    padding: 1rem;
    vertical-align: middle;
}

.cell:has([role=checkbox]) {
    padding-right: 0;
}

.caption {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: hsl(var(--muted-foreground));
}